#footer
  .container
    .row
      .col-md-3
        a(href="/")
          img.logo(src=assetPath('logo-white.png'))
      .col-md-3
        ul
          li
            a(href="/about")=__("menu.company")
          li
            a(href="/news")=__("menu.news")
          li
            a(href="/contact")=__("menu.contact")
      .col-md-3
        ul
          li
            a(href="#") Facebook
          li
            a(href="#") Twiter
      .col-md-3
        ul
          li
            i.las.la-home
            a(href="mailto:#{COMPANY_EMAIL}")=COMPANY_EMAIL
          li
            | HN: 
            = __("contact.addressHN")
          li
            | HCM: 
            = __("contact.addressHCM")