#header
  .container
    .header-top.clearfix.d-none.d-lg-block
      .float-start
        a(href="#/")
          i.lar.la-clock
          span 8:00 - 17:30
        a(href="mailto:#{COMPANY_EMAIL}")
          i.lar.la-envelope
          span=COMPANY_EMAIL
      .float-end
        a.nav-language-link(href='/vi')
          img(src=assetPath('vi.svg'))
        a.nav-language-link(href='/en')
          img(src=assetPath('en.svg'))
  .container
    nav.navbar.navbar-expand-lg.navbar-light
      .container-fluid
        a.navbar-brand(href='/')
          img(src=assetPath('logo-white.png'))
        button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
          i.las.la-bars
        #navbarNav.collapse.navbar-collapse
          ul.navbar-nav.ms-auto
            li.nav-item
              a.nav-link(href='/')=__('menu.home')
            li.nav-item
              a.nav-link(href='/about')=__('menu.company')
            li.nav-item
              a.nav-link(href='/news')=__('menu.news')
            li.nav-item
              a.nav-link(href='/career')=__('menu.career')
            li.nav-item
              a.nav-link(href='/contact')=__('menu.contact')
            li.nav-item.d-block.d-lg-none
              a.nav-link(href="mailto:#{COMPANY_EMAIL}")=COMPANY_EMAIL
            li.nav-item.d-block.d-lg-none
              a.nav-language-link(href='/vi')
                img(src=assetPath('vi.svg'))
              a.nav-language-link(href='/en')
                img(src=assetPath('en.svg'))