doctype html
html(lang="vi", xmlns="http://www.w3.org/1999/xhtml", class="no-js")
  head
    title=title
    meta(charset="utf-8")
    link(rel='canonical', href='https://jpvngroup.com/')
    link(rel="preconnect", href="https://fonts.gstatic.com")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(property='og:type', content='website')
    meta(name='description', content=ogDescription)
    meta(property='og:title', content=title)
    meta(property='og:description', content=ogDescription)
    meta(property='og:image', content=ogImage)
    meta(property='og:url', content=ogUrl)
    meta(property='og:site_name', content=title)
    meta(property='fb:app_id', content='752228971569672')
    meta(name='twitter:card', content='summary')
    meta(name='twitter:description', content=ogDescription)
    meta(name='twitter:title', content=title)
    meta(property="fb:app_id", content="363813347454508")
    meta(property="og:type", content="website")
    link(href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400&display=swap", rel="stylesheet")
    != css('app', {'data-turbolinks-track': true })
  body(class=customClass)
    .wrapper
      include shared/header
      .main-content
        block content
      include shared/footer
    a.callnow(href=`tel:${COMPANY_PHONE}`)
      .call-trap
        img(src=assetPath('Call.svg'))
      .call-text GỌI NGAY
    != js('app')
    // Global site tag (gtag.js) - Google Analytics
    script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-122649459-8')
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-2KM3G26SHL');
