extends ../layout
include ../../mixins/pagination

block content
  .container
    .panel
      .page-header
        h4.page-title Quản lý bài viết
        ol.breadcrumb
          li.breadcrumb-item
            a(href='/admin') Dashboard
          li.breadcrumb-item.active(aria-current='page') Quản lý bài viết
        .page-actions
          a.btn.btn-primary(href="/admin/posts/new") Thêm bài
      table.table.table-bordered
        thead.thead-light
          tr
            th Hình ảnh
            th Nội dung
            th.fit Ngày đăng
            th.fit Trạng thái
            th.fit Tác vụ
        tbody
          each post in posts
            tr
              td.col-img
                if (post.thumb)
                  img.w-100(src=post.thumb)
              td
                strong=post.title
                p.mb-0.pd-0.pt-1=post.summary
              td.fit.text-center=post.createdAt.toLocaleDateString('vi-VI', {})
              td.fit.text-center
                span.badge(class=`bg-${POST_STATUS_COLORS[post.status]}`)=POST_STATUSES[post.status]
              td.fit
                a.btn.btn-info.btn-sm(href="/admin/posts/" + post._id)
                  span  Xem
                if canEdit(currentUser, post)
                  a.btn.btn-primary.btn-sm.ms-2(href="/admin/posts/" + post._id + "/edit")
                    span  Sửa
                if canDelete(currentUser, post)
                  button.btn.btn-danger.btn-sm.ms-2.delete-item-btn(data-id=post._id.toString(), data-scope='posts' ,data-title=post.title)
                    span  Xóa
      +pagination('/admin/posts', total, page)