extends ../layout
include ../../mixins/pagination

block content
  .container
    .panel
      .page-header
        h4.page-title Quản lý bài viết
        ol.breadcrumb
          li.breadcrumb-item
            a(href='/admin') Dashboard
          li.breadcrumb-item.active(aria-current='page') Quản lý bài viết
        .page-actions
          a.btn.btn-primary(href="/admin/posts/new") Thêm bài
      table.table.table-bordered
        thead.thead-light
          tr
            th Hình ảnh
            th Nội dung
            th.fit Ngày đăng
            th.fit Tác vụ
        tbody
          each post in posts
            tr
              td.col-img.align-middle
                if (post.thumb)
                  img.w-100(src=post.thumb)
              td.align-middle
                strong=post.title
                p.mb-0.pd-0=post.summary
              td.fit.align-middle=post.createdAt.toLocaleDateString('vi-VI', {})
              td.fit.align-middle
                a.btn.btn-primary.btn-sm(href="/admin/posts/" + post._id)
                  i.fa.fa-pencil
                  span  Sửa
                if currentUser.isAdmin
                  button.btn.btn-danger.btn-sm.ms-2.delete-item-btn(data-id=post._id.toString(), data-scope='posts' ,data-title=post.title)
                    i.fa.fa-close
                    span  Xóa
      +pagination('/admin/posts', total, page)