extends ../layout

block content
  #about-page
    .page-header
      .container
        .page-title
          h2.mb-3=__("about.title")
    .about-company
      .container
        .row
          .col-md-4
            img.w-100(src=assetPath('about/about.png'))
          .col-md-8
            .panel-content
              span.highlight-text=__("about.whoLabel")
              h2=__("home.company")
              p!=__("about.introduction")
      .container 
        .row 
          .col-12.col-md-8
            .vision-panel
              .row 
                .col-6
                  img.w-100(src=assetPath('about/vision.jpg'))
                .col-6
                  .panel-content
                      h3=__("about.visionLabel")
                      p=__("about.vision")
        .row
          .col-12.col-md-8.ms-auto
            .mission-panel
              .row 
                .col-6
                  .panel-content
                    h3=__("about.missionLabel")
                    p=__("about.mission")
                .col-6
                  img.w-100(src=assetPath('about/mission.jpg'))
    .core-value-section
      .container    
        .section-header.text-center
          //- span.red-text=__("about.coreValueLabel")
          h2=__("about.coreValueLabel")
        .row
          .col-md-4 
            .card
              .card-body
                h3=__("about.integrity")
                p=__("about.integrityContent")
          .col-md-4
            .card
              .card-body
                h3=__("about.wisdom")
                p=__("about.wisdomContent")
          .col-md-4
            .card
              .card-body
                h3=__("about.credibility")
                p=__("about.credibilityContent")
    .services-section
      .section-header.text-center
        h2=__("about.servicesLabel")
      .container
        .row
          each service in services
            .col-6.col-md-3.card-container
              a.card(data-bs-toggle="modal", data-bs-target="#service-" + service.id)
                img.card-img-top(src=service.thumb)
                .card-body
                  h3=service.title
                  p=service.summary
    include ../shared/testimonials
  each service in services
    .modal.fade(tabindex='-1', aria-labelledby="service-" + service.id + '-label', aria-hidden='true', id="service-" + service.id)
      .modal-dialog.modal-dialog-centered.modal-lg
        .modal-content
          .modal-header
            h5.fw-bold.modal-title(id="service-" + service.id + '-label')=service.title
            button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
          .modal-body
            !=service.content