extends ../layout
include ../mixins/postcard
include ../mixins/servicecard

block content
  #homepage
    section.masthead.d-flex
      .overlay
      .masthead-content.align-self-center.w-100
        .container
          .row
            .col-md-8.ms-auto.me-auto
              h1.text-center=__("home.h1")
              h2.text-center=__("home.h2")
    .about-company
      .container
        .row
          .col-md-4
            img.w-100(src=assetPath('about/about.png'))
          .col-md-8
            .panel-content
              span.highlight-text=__("about.whoLabel")
              h2=__("home.company")
              p!=__("about.introduction")
    .services-section
      .section-head.text-center
        h3=__("about.servicesLabel")
      .container
        .row
          each service in services
            .col-md-3.card-container
              a.card(data-bs-toggle="modal", data-bs-target="#service-" + service.id)
                img.card-img-top(src=service.thumb)
                .card-body
                  h3.fw-bold.text-center=service.title
                  p=service.summary
    section.tellus
      .overlay
      .tellus-content.text-center
        .container
          h3=__("home.trytoday")
          h4=__("home.tellus")
          a.btn.btn-try.btn-lg.text-bold(href="/contact")=__("home.tryBtn")
    section.clients
      .container
        .section-head.text-center
          h3=__("home.ourClients")
          //- p The industries of our representative clients
        .row  
          each partner in partners
            .col-md-2
              a(href=(partner.url ? partner.url : "#"))
                img.w-100(src=partner.image, alt=partner.title)
  each service in services
    .modal.fade(tabindex='-1', aria-labelledby="service-" + service.id + '-label', aria-hidden='true', id="service-" + service.id)
      .modal-dialog.modal-dialog-centered.modal-lg
        .modal-content
          .modal-header
            h5.fw-bold.modal-title(id="service-" + service.id + '-label')=service.title
            button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
          .modal-body
            !=service.content