extends ../layout
include ./categories
include ./sidebar

block content
  #blogSingleCentered.blog.blog-single
    .container
      .row
        //- .col-sm-12.col-md-12.col-lg-4
        .col-sm-8
          .page-header
            .page-title
              h2=post.title
            .page-toolbar.clearfix
              .float-start
                ol.breadcrumb
                  li.breadcrumb-item
                    a(href='/')
                      i.la.la-home
                  li.breadcrumb-item
                    a(href='/news')=__("menu.blog")
                  if category
                    li.breadcrumb-item
                      a(href='/news/' + category.slug)=category.title
              .float-end
                span.text-muted
                  i.las.la-newspaper.pe-1
                  span=post.time
                span.text-muted.ps-3
                  i.las.la-eye.pe-1
                  span=post.viewCount
          .blog-item
            //- .blog__img
            //-   img(src=post.image, alt=post.title)
            .blog__content
              .blog__desc
                !=post.content
        .col-md-4
          .mt-30
            +sidebar()